.button {
  min-width: 120px;
  border: none;
  background-color: #192144;
  color: #fff;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
}

.button:hover,
.button:focus {
  color: #192144;
  background-color: #fff;
  border: 1px solid #192144;
}
