.summaryPanel {
  display: flex;
  flex-grow: 2;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  padding: 30px;
  color: #192144;
}

.summaryPanel:hover,
.summaryPanel:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.summaryPanel__cost-wrapper {
  margin-bottom: 40px;
}

.summaryPanel__cost,
.summaryPanel__cost-sum {
  font-weight: 600;
  color: #192144;
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
}

.summaryPanel__cost-sum {
  color: steelblue;
}
