.search {
  display: flex;
  flex-grow: 2;
  margin-right: 30px;
}

.search:focus-within {
  border-bottom: 2px solid #000;
}

.search__label {
  display: flex;
  flex-grow: 2;
  position: relative;
  padding-left: 24px;
}

.search__label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  margin-right: 22px;
  object-fit: contain;
  background-image: url("../../../assets/img/search.svg");
}

.search__field {
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  background-color: inherit;
  min-height: 40px;
}

.search__field:hover {
  opacity: 0.6;
}

.search__field:focus {
  opacity: 0.6;
}
