.search {
  width: 440px;
  display: flex;
}

.search:focus-within {
  border-bottom: 2px solid #000;
}

.search__label {
  display: flex;
  flex-grow: 2;
  position: relative;
  padding-left: 24px;
}

.search__label::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 12px;
  height: 12px;
  margin-right: 22px;
  object-fit: contain;
  background-image: url("../../../assets/img/search.svg");
}

.search__field {
  cursor: pointer;
  width: 100%;
  border: none;
  outline: none;
  opacity: 0.3;
}

.search__field:hover {
  opacity: 0.6;
}

.search__field:focus {
  opacity: 0.6;
}

.search__submit {
  min-height: 40px;
  border: 2px solid #000;
  border-bottom: none;
  background-color: transparent;
  outline: none;
  padding: 4px 12px;
  text-transform: uppercase;
  display: none;
}

.search__submit:hover,
.search__submit:focus {
  background-color: #000;
  color: #fff;
}

.search__submit:active {
  color: rgba(255, 255, 255, 0.4);
}

.search:focus-within .search__submit {
  display: block;
}
