.loginForm__submit {
  background-color: #192144;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bolder;
  font-size: 18px;
}

.loginForm__submit:hover,
.loginForm__submit:focus {
  background-color: #fff;
  color: #192144;
  border: 1px solid #192144;
}

.loginForm__container {
  position: relative;
  padding-bottom: 20px;
}

.loginForm__error-message {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
