.product {
  display: flex;
  background-color: #fff;
  width: 100%;
  border-radius: 20px;
  overflow: hidden;
  padding: 10px 40px 10px 20px;
  color: #192144;
}

.product:not(:last-of-type) {
  margin-bottom: 20px;
}

.product:hover,
.product:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product__image {
  margin-right: 40px;
}

.product__wrapper {
  padding-top: 20px;
  flex-grow: 2;
}

.product__title {
  font-weight: 600;
  color: #192144;
  text-decoration: none;
}

.product__title:hover,
.product__title:focus {
  color: firebrick;
}

.products__link {
  text-decoration: none;
}

.product__button-wrapper {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product__cost-value {
  font-weight: bold;
}
