.nav__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.nav__list-item:not(:last-of-type) {
  margin-right: 40px;
}

.nav__link {
  text-decoration: none;
  color: #000;
  font-weight: 900;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.nav__link--active,
.nav__link:active,
.nav__link:hover,
.nav__link:focus {
  color: firebrick;
}

.nav__link--active .nav__amount,
.nav__link:active .nav__amount,
.nav__link:hover .nav__amount,
.nav__link:focus .nav__amount {
  background-color: firebrick;
}

.nav__link:active {
  opacity: 0.3;
}

.nav__link::before {
  content: "";
  display: block;
  margin-right: 12px;
  background-position: center;
  background-repeat: no-repeat;
}

.nav__amount {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #192144;
  color: #fff;
  font-weight: bolder;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
